body {
    font-family: Arial;
}
#nav_container {
    justify-content: center;
}
a.nav-link{
    margin-right: 20px;
    margin-left: 20px;
}
a.navbar-brand{
    margin-right: 90px;
}
.accountform {
    padding-top: 20px;
}
nav {
    background-color: lightblue;
}
#product_style_card {
      margin-top: 20px;
      margin-bottom: 20px;
      background-position: cover;
      background-repeat: no-repeat;
}
.btn-success {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
#detail_button{
    background-color: lightblue;
    color: black;
}
li.list-group-item{
    text-align: center;
}
/* product details style */
.input-group-details, .return {
    text-align: center;
}
div.jumbotron{
    height: 75vh;
    margin-bottom: 0;
}
button.btn.btn-primary.btn-lg.continue{
    background-color: #17a2b8;
    border-color: #17a2b8;
}
/* login page */
.accountform {
        width: 35%;
}
legend {
    margin-bottom: 2rem;
}
form.accountform{
    margin-top: 3rem;
}
#login_container.container{
    height: 0;
}
#login_container{
    text-align: -webkit-center;
    margin-bottom: 3%;
}
.form-control {
     text-align: center;
}
a.btn.btn-primary{
      background-color: #17a2b8;
      border-color: #17a2b8;
}
button.btn.btn-primary {
      background-color: #17a2b8;
      border-color: #17a2b8;
}
#footer_logo.container-fluid.text-center {
    background-color: lightblue;
    color: black;
}
form.form-inline{
    display: contents;
}
.input-group-addon{
    font-size: x-large;
    margin-left: 20px;
    padding-top: 5px;
    margin-right: 20px;
}
/* cart */
#cartsum_container{
    margin-bottom: 3%;
}
/* footer */
span#dejanhinic{
    color: black;
}
/* footer */
#footer_logo {
    width: 100vw;
    font-weight: 300;
    background-color: lightblue;
    height: 100px;
    color: black;
    padding-top: 30px;
}
.page-footer {
    background-color: lightblue;
}
/* index homepage */
.welcome_slide_image{
    margin-top: 5%;
}
#carouselExampleFade{
    margin-top: 20px;
    margin-bottom: 20px
}
.jumbotron{
    height: 0;
}
/* checkoutform */
.form-group {
    margin-bottom: 1rem;

}