{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" style="">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="offset-md-2 col-md-4 col-sm-2">
                            <div class="welcome_slide_text">
                                <p>Laundry Detergent</p>
                                <h2>Ecover</h2>
                                <h4>Lavender fragrance <span class="regular-price"> €11</span></h4>
                                <a href="{% url 'products' %}" class="btn btn-primary">Check Collection</a>
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2 col-sm-10">
                            <div class="welcome_slide_image">
                                <img src="https://dejan-bucket.s3.eu-west-2.amazonaws.com/static/img/laundry2.jpg" alt="" data-animation="bounceInUp" data-delay="500ms">
                                <div class="discount_badge" data-animation="bounceInDown" data-delay="1.2s">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="offset-md-2 col-md-4 col-sm-2">
                            <div class="welcome_slide_text">
                                <p>Antibacterial Cleaner</p>
                                <h2>Method anti - bac</h2>
                                <h4>Rhubarb fragrance <span class="regular-price"> €8</span></h4>
                                <a href="{% url 'products' %}" class="btn btn-primary">Check Collection</a>
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2 col-sm-10">
                            <div class="welcome_slide_image">
                                <img src="https://dejan-bucket.s3.eu-west-2.amazonaws.com/static/img/cleaning.jpg" alt="" data-animation="bounceInUp" data-delay="500ms">
                                <div class="discount_badge" data-animation="bounceInDown" data-delay="1.2s">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="offset-md-2 col-md-4 col-sm-2">
                            <div class="welcome_slide_text">
                                <p >Dishwashing Liquid</p>
                                <h2 >Attitude</h2>
                                <h4 >Natural and Sensitive <span class="regular-price"> €32</span></h4>
                                <a href="{% url 'products' %}" class="btn btn-primary">Check Collection</a>
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-2 col-sm-10">
                            <div class="welcome_slide_image">
                                <img src="https://dejan-bucket.s3.eu-west-2.amazonaws.com/static/img/dishwashing2.jpg" alt="" data-animation="bounceInUp" data-delay="500ms">
                                <div class="discount_badge" data-animation="bounceInDown" data-delay="1.2s">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
</div>
    <div class="container">
        <div class="card-deck">
        <div class="card">
        <img src="https://i1.wp.com/www.smallchanges.ie/wp-content/uploads/2018/07/IOA_CERTIFIED.jpg?resize=300%2C300&ssl=1" class="card-img-top" style="height: 18em;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Irish Organic Association</h5>
            <p class="card-text">We are taking part in Irish Organic society. In a society characterized by organic solidarity,
             there is relatively greater division of labour, with individuals functioning much like the interdependent but differentiated organs of a living body.</p>
            <p><a target="_blank" href="http://www.irishorganicassociation.ie/">See More...</a></p>
        </div>
        </div>
        <div class="card">
        <img src="https://www.sonett.eu/fileadmin/content/Anwendungen_Fotos/Waschanleitung/sonett_waschen_sortieren_580x500.jpg" class="card-img-top" style="height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tips & Tricks</h5>
            <p class="card-text">Tips & Tricks for stain removal and for washing and cleaning with organic products</p>
            <p><a target="_blank" href="https://www.sonett.eu/anwendung/waschanleitung/">See More...</a></p>
        </div>
        </div>
        <div class="card">
        <img src="https://static1.squarespace.com/static/52f2b921e4b0e025f164533f/t/5bf8e8678985839163ad6489/1545332365104/OrganicHandmadeSoap.jpg?format=1500w" class="card-img-top" style="height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Why Organic?</h5>
            <p class="card-text">By seeking alternatives, consumers can take a leap towards a better and a healthier future. 
            Instead of using cheap chemicals that are harmful to the skin and to the planet, the people behind these products use ingredients that provide real benefits to consumers.</p>
            <p><a target="_blank" href="https://alluvian.co/blog/2016/11/21/the-benefits-of-organic-soap">See More...</a></p>
        </div>
        </div>
        </div>
    </div>

{% endblock %}